<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="fourofour">
      <h1>404</h1>
      <h2>OOPS, Page not found</h2>
      <a href="/">get back to Home</a>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
