<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil saepe
        suscipit consectetur? Mollitia, inventore. Neque rerum culpa ipsam quam
        reprehenderit non cum repellendus animi expedita voluptatem obcaecati,
        dolor eos alias!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil saepe
        suscipit consectetur? Mollitia, inventore. Neque rerum culpa ipsam quam
        reprehenderit non cum repellendus animi expedita voluptatem obcaecati,
        dolor eos alias!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil saepe
        suscipit consectetur? Mollitia, inventore. Neque rerum culpa ipsam quam
        reprehenderit non cum repellendus animi expedita voluptatem obcaecati,
        dolor eos alias!
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
