* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: "Noto Serif", serif;
}

p,
h1,
h2,
h3,
a,
ul {
  text-decoration: none;
  color: #222;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #222;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-left: 20px;
}

nav a {
  text-transform: capitalize;
}

nav a:hover {
  color: crimson;
}

nav h1 {
  font-size: 3rem;
}

nav p,
nav a {
  color: #777;
}

/* 404 */
.fourofour {
  text-align: center;
}

.fourofour h1 {
  font-size: 200px;
}

.fourofour a {
  color: crimson;
}

.fourofour a:hover {
  border: 2px solid crimson;
  padding: 10px 15px;
}
/* FOOTER */
footer {
  color: #777;
  text-align: center;
  margin: 80px auto 20px;
  position: fixed;
  bottom: 0;
  left: 50%;
}

h2 {
  margin-bottom: 40px;
}

h3 {
  margin-bottom: 8px;
  text-transform: capitalize;
}

.content {
  margin-left: 20px;
}

.create-post form {
  max-width: 400px;
  margin: 0 auto;
}

.create-post input,
.create-post textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.create-post label {
  display: block;
  margin-top: 24px;
}

textarea {
  height: 120px;
}

.create-post button {
  margin-top: 20px;
  background: crimson;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
  width: 100%;
}

.blogs a {
  display: block;
  margin: 40px 0;
  padding-left: 30px;
  border-left: 6px solid crimson;
}

.blogs a:hover h3 {
  color: crimson;
}

.details {
  position: relative;
}
.delete {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 20px;
  padding: 8px;
  text-transform: capitalize;
}

.delete:hover {
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
